@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ESTILOS GENERALES */
* {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

:root {
  --blanco-translucido: #ffffff33;
  --casi-blanco: #deffde33;
  --fondo: #acfcaf;
  --fondo-translucido: #acfacf88;
  --verde: #044404;
  --verde-translucido: #04440466;
  --verde-claro: #138138;
  --texto-oscuro: #052002;
  --texto-verde: #083808;
}

body {
  margin: 0;
  padding: 0;
}

.fondo {
  background-color: #ffffff;
  background-image: url("/img/fondo3.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

h1 {
  color: var(--texto-oscuro);
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em;
}

button {
  font-size: 1.2em;
  background: linear-gradient(60deg, var(--verde), var(--verde-claro));
  display: block;
  margin: 0.5em auto;
  color: white;
  padding: 0.3em 1.5em;
  border: none;
  border-radius: 0.5em;
  transition: all 0.5s ease;
  box-shadow: 2px 1px 3px var(--verde);
}

button:hover {
  background: linear-gradient(60deg, var(--verde-claro), var(--fondo));
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0px;
}

label {
  display: block;
  margin-bottom: 0.1em;
  font-size: 0.8em;
  color: var(--verde);
}

input,
select,
textarea {
  width: 100%;
  font-size: 0.9em;
  box-sizing: border-box;
  padding: 0.2em;
  border: 1px solid var(--verde);
  border-radius: 0.5em;
  color: var(--texto-verde);
  margin-bottom: 0.3em;
  background-color: #ffffff;
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid var(--verde);
}

textarea {
  height: 5em;
}

fieldset {
  border: 0.5px solid var(--verde);
  border-radius: 0.5em;
  color: var(--verde);
  margin-bottom: 1em;
  padding: 1em 1.2em;
}

footer {
  background-color: var(--fondo);
  text-align: center;
  padding: 0.2em;
  margin-top: 2em;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.textoFooter {
  color: var(--texto-oscuro);
  font-size: 0.7em;
}

a {
  color: var(--verde-claro);
  text-decoration: none;
  font-size: 1em;
}

/* Hasta aquí estilos generales */

/* MENÚ NAV */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fondo);
  border-bottom: 1px solid var(--verde-translucido);
  padding: 0em 1em;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.logoTitulo {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0.3em 0;
}

.logo {
  width: 1.8em;
  height: 1.8em;
}

.titulo {
  color: var(--texto-verde);
  font-size: 1.2em;
  font-weight: bold;
}

.divMenu {
  display: flex;
  gap: 1em;
  align-items: center;
  gap: 1.2em;
}

.menu {
  align-items: center;
  position: fixed;
  right: 12px;
  top: 50px;
  background-color: var(--fondo);
  box-shadow: 5px 5px 10px var(--verde);
  padding: 0.5em;
  border-radius: 0.5em;
  z-index: 100;
}

.menuLink {
  font-size: 1.2em;
  color: var(--verde);
  margin: 0.5em;
  text-decoration: none;
  display: block;
  transition:
    color 0.5s ease,
    transform 0.5s ease;
}

.menuLink:hover,
.correoLink:hover,
#correo:hover {
  transform: scale(1.2);
  color: var(--verde-claro);
}

#correo {
  height: 1.8em;
  width: 1.8em;
  align-self: center;
  transition:
    color 0.5s ease,
    transform 0.5s ease;
}

@keyframes tienesCorreo {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) scale(1);
  }
  25% {
    transform: rotate(30deg) translateX(10px) translateY(-5px) scale(1.2);
  }
  50% {
    transform:rotate(10deg) translateX(-5px) translateY(10px) scale(0.8);
  }
  75% {
    transform:rotate(-30deg) translateX(10px) translateY(-5px) scale(1.2);
  }
  100% {
    transform: rotate(0deg) translateX(0px) translateY(0px) scale(1);
  }
}

#desplegable {
  margin: 0;
  background: transparent;
  box-shadow: none;
  color: var(--verde);
  font-size: 1.5em;
  align-self: center;
  font-weight: bold;
  padding: 0px;
}

#desplegable:hover {
  transform: none;
}

/* REGISTRO - PERFIL */

.tituloPagina {
  margin-top: 3em;
}

#formRegistro {
  max-width: 550px;
  margin: 0.5em;
  padding: 0.8em;
  border-radius: 0.5em;
  border: 0.5px solid var(--blanco-translucido);
  box-shadow: 5px 5px 10px var(--verde);
  background-color: var(--casi-blanco);
  backdrop-filter: blur(6px);
}

.politica {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
  margin: 0.5em;
  font-size: 0.9em;
}

.politica input {
  width: auto;
}

#formPerfil {
  padding: 1em;
  margin: 0.5em;
  background-color: var(--casi-blanco);
  backdrop-filter: blur(6px);
  border: 0.5px solid var(--blanco-translucido);
  box-shadow: 5px 5px 10px var(--verde);
  border-radius: 0.5em;
}

.avatar {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  justify-self: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.avatar:hover {
  opacity: 70%;
}

.avatar img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid #000000;
}

.avatar span {
  font-size: 1em;
}

/* CREAR QUEDADA*/

.editarMapa {
  display: block;
  margin: 0 0.5em;
}

.cajaMapa {
  position: relative;
  width: 100%;
  height: 60vh;
}

#mapa {
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--verde);
  border-radius: 0.5em;
  z-index: 10;
  position: absolute;
  box-shadow: 5px 5px 10px var(--verde);
}

#borrarTramo {
  width: 70%;
  z-index: 100;
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
  margin: auto;
}

#borrarTodo {
  width: 70%;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#formQuedada {
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.5px solid var(--blanco-translucido);
  box-shadow: 5px 5px 10px var(--verde);
  background-color: var(--casi-blanco);
  backdrop-filter: blur(6px);
}

#distanciaRuta {
  margin: 2em;
  font-size: 1.2em;
  color: #441144;
}

#error {
  display: block;
  text-align: center;
}

/* TABLON */

#filtros {
  margin: 1em;
}

#leyenda {
  font-size: 1.5em;
}

#leyenda:hover {
  color: var(--verde-claro);
  cursor: pointer;
}

.quedada {
  display: grid;
  background-color: var(--casi-blanco);
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 10px var(--verde);
  max-width: 1500px;
  margin: 0.5em;
  border: 0.5px solid var(--blanco-translucido);
  border-radius: 0.3em;
  gap: 0.5em;
  color: var(--texto-oscuro);
  padding: 1em;
}

.organizador {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatarQuedada {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 1px solid #000000;
}

.tablon-encabezado {
  font-size: 1.3em;
  text-align: center;
}

.tablon-botones {
  display: flex;
}

#contenedorMapa {
  position: fixed;
  width: 90%;
  height: 70%;
  left: 5%;
  z-index: 50;
}
#mapaTablon {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  border: 2px solid var(--texto-oscuro);
  border-radius: 0.5em;
  z-index: 50;
  box-shadow: 5px 5px 10px var(--verde);
}

#cerrarMapa {
  color: black;
  font-size: 2em;
  padding: 0 0.8em;
  padding: 0 0.3em;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 100;
}

#guardarRuta {
  position: absolute;
  width: max-content;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.verRuta,
.unirse,
.reutilizar,
.descartar {
  padding: 0.2em 0.5em;
}

.ruta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--casi-blanco);
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 10px var(--verde);
  max-width: 1500px;
  margin: 0.5em;
  border: 0.5px solid var(--blanco-translucido);
  border-radius: 0.3em;
  gap: 0.5em;
  color: var(--texto-oscuro);
  padding: 1em;
}

.ruta-encabezado {
  font-size: 1.3em;
  text-align: center;
  grid-column: span 2;
}

/* CORREO */

.menuCorreo {
  background-color: var(--casi-blanco);
  border: 1px solid var(--blanco-translucido);
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 10px var(--verde);
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
  margin: 0.5em;
}

#redactarCorreo {
  font-size: 1.2em;
  padding: 0.2em 0.5em;
}

.correoLink {
  color: var(--verde);
  cursor: pointer;
  transition:
    color 0.5s ease,
    transform 0.5s ease;
}

.mensaje {
  display: block;
  background-color: var(--casi-blanco);
  backdrop-filter: blur(6px);
  box-shadow: 5px 5px 10px var(--verde);
  margin: 1em;
  border: 0.5px solid var(--blanco-translucido);
  border-radius: 0.3em;
  color: var(--texto-oscuro);
  padding: 1em;
}

.mensaje-botones {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#contenedorMensaje {
  margin: 0.5em;
  padding: 0.8em;
  background-color: var(--fondo);
  border: 1px solid var(--verde-claro);
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px var(--verde);
  position: fixed;
  z-index: 100;
  inset: 0;
  margin: auto;
  height: fit-content;
  width: 80vw;
  max-width: 900px;
  display: block;
}

.mensaje-encabezado {
  font-weight: bold;
  font-size: 1.2em;
}

.mensaje-quien {
  font-size: 0.9em;
  font-style: italic;
}

.mensaje.noLeido {
  background-color: var(--fondo-translucido);
  outline: 2px solid var(--verde-claro);
}

#formRedactar {
  margin: 0.5em;
  padding: 2em 1em 1em 1em;
  background-color: var(--fondo);
  border: 1px solid var(--verde-claro);
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px var(--verde);
  width: 80vw;
  height: fit-content;
  position: fixed;
  z-index: 100;
  inset: 0;
  margin: auto;
  max-width: 900px;
}

#cerrarRedactar {
  margin: 0;
  position:absolute;
  right: 0;
  top: 0;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

#mensajeRedactar {
  height: 8em;
}

/* media query para TABLETS */
@media (min-width: 600px) {
  * {
    font-size: 24px;
  }

  #formRegistro {
    margin: 1em auto;
  }

  /* MENÚ NAV */
  .menu {
    top: 70px;
  }

  /* PERFIL */
  #formPerfil {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    margin: 0 36px;
  }

  .avatarContainer {
    grid-column: span 2;
  }

  .avatar img {
    width: 150px;
    height: 150px;
  }

  .cambiarUbicacion {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5em;
  }

  .cambiarPass {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5em;
  }

  #actualizarPerfil {
    grid-column: span 2;
  }
  #borrarTramo {
    bottom: 50px;
  }

  /* TABLON */

  .organizador {
    gap: 10px;
  }
  .avatarQuedada {
    height: 30px;
    width: 30px;
  }
}

/* media query para PC*/

@media (min-width: 1200px) {
  /* MENÚ NAV */
  .menu {
    display: flex;
    gap: 1em;
    position: relative;
    flex-direction: row;
    top: 0px;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  .menuLink {
    font-size: 1em;
  }

  #desplegable {
    display: none;
  }

  /* PERFIL */

  #formPerfil {
    display: grid;
    grid-template-columns: 3fr 2fr 6fr;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    margin: 0 64px;
  }

  .avatarContainer {
    grid-row: span 4;
    grid-column: span 1;
  }

  .cambiarPass {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .cambiarUbicacion {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #actualizarPerfil {
    grid-column: span 3;
  }

  /* CREAR QUEDADA */

  .editarMapa {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 75vh;
  }
  .cajaMapa {
    height: 75vh;
  }
  #mapa {
    height: 100%;
  }
  #borrarTramo {
    width: 25%;
    right: 60%;
    bottom: 16px;
  }
  #borrarTodo {
    width: 25%;
    left: 60%;
    bottom: 16px;
  }

  #formQuedada {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
  }

  /* TABLON */

  #filtros {
    max-width: 1200px;
    margin: 0 auto;
  }
  #filtros-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }

  .botonesFiltros {
    display: flex;
    grid-column: span 3;
  }

  .quedada {
    margin: 1em auto;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .tablon-encabezado {
    text-align: left;
  }

  .tablon-fecha {
    text-align: right;
  }

  #contenedorMapa {
    width: 60%;
    left: 20%;
  }

  .ruta {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 1em auto;
    align-items: center;
    justify-content: center;
  }

  /* CORREO */

  .correoContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .menuCorreo {
    font-size: 1.2em;
    height: 60vh;
    margin: 1em;
    flex-direction: column;
    gap: 1.5em;
    align-items: baseline;
    justify-content: left;
    padding: 1.2em;
  }
  .contenedorBuzones {
    margin: 1em;
    padding:0.5em;
    height: 68vh;
    overflow: scroll;
    box-shadow: inset 0 0 5px var(--verde-claro);
    border-radius: 0.5em;
  }

  .mensaje {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: var(--casi-blanco);
    backdrop-filter: blur(6px);
    box-shadow: 5px 5px 10px var(--verde);
    margin: 0.5em;
    border: 0.5px solid var(--blanco-translucido);
    border-radius: 0.3em;
    color: var(--texto-oscuro);
    padding: 1em;
    align-items: center;
  }
}
